# Büyük LLM modeli
llm_model/model.safetensors
llm_model/training_args.bin

# Database
*.db

# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# Flutter
mobile_app/.dart_tool/
mobile_app/build/
mobile_app/.idea/

# IDE
.vscode/

# Windows / macOS
Thumbs.db
.DS_Store